<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleWal.css">	
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
	
</head>

<body>
    <h1 id="cohort"> <%=user.cohort.cohortName %></h1>
    <h2>Class Admin: Watch and Listen Activity Upload</h2>

<form action="/admin/createWaL" enctype="multipart/form-data" method="POST">
    <div class="container">
        <div class="headingSelect">
            <h2 id="activityHeading">Select an Activity To Edit</h2>
            <div class="container outlineNone">
                <select name="activity" id="activityName" class="selection">
                    <option value="" disabled selected hidden>Choose an Activity</option>
                <% for(let i=0; i < activities.length; i++) {%>   
                    <option value="<%=activities[i].description %>"><%= activities[i].description %></option>
                <% } %>
                </select> 
            </div>
        </div>
        <h3 id ="activityToEdit">Upload Media to Selected Activity</h3>    
        <div class="container gridContainer" id="uploadContainer">
            <div class="container flexColumn">
                <div class="gridContainer" >
                    <div class="uploadBlock">    
                        <label for="walVideo">Video</label>
                        <input type="file" id="walVideo" name="video" value="'video" clsass="uploadInput">
                    </div>    
                </div>
                <div class="gridContainer">
                    <div class="uploadBlock">
                        <label for="imageD">Dictionary Image</label>
                        <input type="file" name="imageD" id="imageD" value="imageD" class="uploadInput">
                    </div>
                </div>
                <div class="gridContainer" >
                    <div class="uploadBlock">  
                        <label for="imageR">Review Image</label>
                        <input type="file" class="uploadInput" id="imageR" value="imageR" name="imageR"> 
                    </div>         
                </div>
            </div>
            <div class="container flexColumn">
                <div class="gridContainer">
                    <div class="uploadBlock"> 
                        <label for="audioT">Dictionary Audio</label>
                        <input type="file" id="audioD" class="uploadInput" value="audioD" name="audioD">
                    </div>
                </div>
                <div class="gridContainer">
                    <div class="uploadBlock">
                        <label for="audioR">Review Audio</label>
                        <input type="file" id="audioR" class="uploadInput" value="audioR" name="audioR">
                    </div>
                </div>
                <div class="gridContainer">    
                    <div class="uploadBlock">
                        <label for="audioN">Examples Audio</label>
                        <input type="file" id="audioE" class="uploadInput" value="audioE" name="audioE">  
                    </div>
                </div>  
            </div>
        <button type="submit">Upload Media for WaL Activity</button>
        </div>  
    </div>        
</form>       
 

 <div class="">
    <div class="previewHeader">
        <div class="mainSelector">
            <label for="waLActivities" class="primaryLabel">Select Acivity to Preview</label>
            <select name="waLActivities" id="waLActivities" class="selection" >
                 <option value="" disabled selected hidden>Choose an Activity</option> 
                <% for(let i=0; i < activities.length; i++) {
                if(activities[i].type === "WaL"){%>   
            <option value="<%=activities[i].description %>"><%= activities[i].description %></option>
                <% }} %>
            </select>
        </div>
<!--        <h3 id="description">Description: No activity has been selected.</h3>  -->  
    </div>
    <div class="dictionaryContainer">
        <div class="videoContainer flexCenter">
            <video src="" alt="" controls id="reviewVideo"></video>
        </div>
        <div class="imageWAudioContainer">
            <div id="imageDContainer">
                <img src="" class="imageWaL" alt="" id="imageDP">
            </div> 
            <div class="audioPreviewContainer">
                <audio src="" id="audioDP" controls></audio>
            </div>
        </div>
    </div>
    <div class="reviewContainer flexColumn flexCenter alignContentCenter">
            <h3 id="reviewHeading">Review Image and Audio</h3>
            <div id="imageRContainer">
                <img src="" alt="" class="imageWaL" id="imageRP">
                
            </div>  
           <audio src="" id="audioRP" controls></audio>
        
    </div>
</div>



<div class="navButtons">
    
    <button onclick="window.location.href ='/admin';" class="navButton">Class Admin</button>
    <button onclick="window.location.href ='/student';" class="navButton">Student Page</button>
  <% if (user.adminLevel > 1){ %>
         <button onclick="window.location.href ='/admin/schoolAdmin';" class="navButton">School Admin</button>
    <% } %>
    <button onclick="window.location.href ='/logout';" class="navButton">Logout</button>
</div>
<script type="text/javascript" src="/js/adminWaL.js"></script>
</body>