
<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">	
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
	
</head>



<body class="backgroundColorL">
    <h1 id="cohort"> <%=user.cohort.cohortName %></h1>
    <h2>Rough and Ready Activity Admin</h2>


<form id="newVWForm" action="/admin/createVocab" enctype="multipart/form-data" method="POST">
    <div class="container">
        <div class="container">
            <div class="flexSplit">
                <div class="flex">
                    <h2>Select an Activity To Edit</h2>
                    <div class="container outlineNone aSelfCenter">
                        <select name="activity" id="selectActivity" class="selection" required>
                            <option value="" disabled selected hidden>Choose an Activity</option>
                        <% for(let i=0; i < activities.length; i++) {%>   
                            <option value="<%=activities[i].description %>"><%= activities[i].description %></option>
                        <% } %>
                        </select> 
                    </div>
                </div>
                <select name="activitySubType" id="activitySubType" class="selection">
                    <option value="" disabled selected hidden>Choose a Sub-Category</option>
                    <option value="nouns">Basic Nouns</option>
                    <option value="verbs">Basic Verbs</option>
                    <option value="adjectives">Basic Adjectives</option>
                    <option value="conjugations">Verb Conjugations</option>
                    <option value="phrases">Basic Phrases</option>
                    <option value="lexicarryLike">Lexicarry Like</option>
                    <option value="grammarFlooding">Grammar Flooding</option>
                </select> 
                 <select name="vocabType" id="vocabType" class="selection">
                    <option value="new">All Vocab is NEW</option>
                    <option value="other">No vocab is NEW</option>
                    <option value="individual">Select individually</option>
                </select>    
            </div>
                <div class="moveRight"> 
                    <button type="button" id="finalizeActivity">Finalize Activity</button>
                </div> 
               <div class="flex spaceBetween">
                    <div> 
                        <div>
                            <label for="newActivityName" class="primaryLabel">Activity Name:</label>
                            <input type="text" id="newActivityName" name="newActivityName" placeholder="Enter New Activity Name">
                            <button type="button" class="deleteButton" id="changeActivityName">Change Activity Name</button>
                        </div>
                        <div>
                            <label for="newActivityDate" class="primaryLabel">Activity Date:</label>
                            <input type="date" id="newActivityDate" name="newActivityDate" placeholder="Enter New Activity Date">
                            <button type="button" class="deleteButton" id="changeActivityDate">Change Activity Date</button>
                        </div>
                    </div>  
                        <div> 
                            <select name="activitySubType" id="activitySubType" class="selection">
                                <option value="" disabled selected hidden>Choose a Sub-Category</option>
                                <option value="nouns">Basic Nouns</option>
                                <option value="verbs">Basic Verbs</option>
                                <option value="adjectives">Basic Adjectives</option>
                                <option value="conjugations">Verb Conjugations</option>
                                <option value="phrases">Basic Phrases</option>
                                <option value="lexicarryLike">Lexicarry Like</option>
                                <option value="grammarFlooding">Grammar Flooding</option>
                            </select>
                            <button type="button" class="deleteButton" id="changeSubCategory">Change Sub-Category</button>
                        </div>
                </div> 
            </div>
               
           
        <div>
            <h3 id="activityToEdit">No Activity Selected</h3>
        </div>
        <div class="container uploadGrid" id="uploadContainer">
            
            <div class="block1">
               <div class="flexInputsRR" >
                    <label for="newVocabWord" class="primaryLabel">Description:</label>
                    <input type="text" id="newVocabWord" name="description" placeholder="Enter a word or phrase" required>
                </div> 
                <div class="flexInputsRR">
                    <label for="category" class="primaryLabel">Category</label>
                    <select name="category" id="category" class="selection" required>
                        <option value="" disabled selected hidden>Choose a Category</option>
                    <% for(let i=0; i < categories.length; i++) {%>
                        <option value="<%=categories[i] %>"><%= categories[i] %></option>  
                    <% } %>
                    </select>
                </div>    
            </div>
            <div class="block2">
                <label for="newVocabCB" class="checkboxLabel secondaryLabel" id="passCheckBLabel">Count this as New Vocabulary</label>    
                <input type="checkbox" checked disabled class="checkbox" id="newVocabulary" name="newVocabCB">   
                
            </div>
            <div class="block3">
                <h4>To link this Vocab Word to the audio from an existing Vocab Word, ust the Selectors below.</h2>
                <div class="flexColumn2">
                    <div class="container outlineNone">
                        <select name="activity2" id="activityName2" class="selection">
                            <option value="" disabled selected hidden>Choose an Activity</option>
                        <% for(let i=0; i < activities.length; i++) {%>   
                            <option value="<%=activities[i].description %>"><%= activities[i].description %></option>
                        <% } %>
                        </select> 
                    </div>   
                    <div class="mainSelector" >
                        <select name="vwToLink" id="vwToLink" class="selection" > 
                            <option value="">Select Vocab Word</option>
                        </select>
                    </div>
                    <button type="button" id="selectActivity2">Select</button> 
                </div>
            </div>
            <div class="block4">
                 <div class="flexColumn">
                     <div class="uploadBlockRR">  
                        <label for="image">Vocab Word Image</label>
                        <input type="file" class="uploadInput" id="image" value="image" name="image"> 
                    </div>
                    <div class="uploadBlockRR"> 
                        <label for="audioT">Vocab Word Introduction Audio</label>
                        <input type="file" id="audioT" class="uploadInput" value="audioTis" name="audioTis">
                    </div>
                     
                </div>

            </div>   
            <div class="block5">
                <div class="flexColumn">
                    <div class="uploadBlockRR">
                        <label for="audioQ">Question Audio</label>
                        <input type="file" id="audioQ" class="uploadInput" value="audioQ" name="audioQ">
                    </div>
                    <div class="uploadBlockRR">
                        <label for="audioN">The Correction Audio</label>
                        <input type="file" id="audioN" class="uploadInput" value="audioN" name="audioN">  
                    </div>  
                </div>
            </div>
            <div>
                 
            </div>
        </div>   
        <div class="uploadBlockRR">
            <label for="folderUpload">Upload by Folder</label>
            <input type="file" id="folderUpload" webkitdirectory = "true" multiple class="uploadInput" value="folderUpload" name="folderUpload">  
            <button id="submitButton"  type="button">Upload New Vocab Word</button> 
        </div>
       
    </div>  
    
</form>       
    <div class="container">
        <h2>Vocab Word Preview/Edit</h2>
       
        <div>
            <div class="previewContainer">
                <div>
                    <div class="mainSelector">
                        <label for="existingVocabWords" class="primaryLabel">Select vocab word to edit</label>
                        <select name="existingVocabWords" id="existingVocabWords" class="selection" > 
                            <option value="">Vocab Words</option>
                        </select>
                    </div>
                    <h3 id="description">Description: No vocab word has been selected.</h3>
                    <h3 id="kind">Category: No vocab word has been selected.</h3>
                </div>
                <div class="imagecontainer">
                    <img src="" alt="">
                </div> 
            </div>
            <div class="audioPreviewContainer">
                <div class="flex">
                    <div>
                        <h3 class="preview">Play Introduction Audio</h3>
                        <audio src="" controls id="audioTis"></audio>
                    </div> 
                </div>   
                <div class="flex">
                    <div>
                        <h3 class="preview">Play Question Audio</h3>
                        <audio src="" controls id="audioQPreview"></audio>
                    </div>
                </div>
                <div class="flex">
                    <div>
                        <h3 class="preview">Play Correction Audio</h3>
                        <audio src="" controls id="audioNPreview"></audio>
                    </div> 
                </div>
            </div>
                <div class="flex">
                    <div>
                        <label for="newVWDescription" class="primaryLabel">Description:</label>
                        <input type="text" id="newVWDescription" name="description" placeholder="Enter New Description">
                        <button type="button" class="deleteButton" id="changeVWDescription">Change Description</button>
                    </div>
                    <div>
                        <label for="newVWCategory" class="primaryLabel">Category</label>
                        <select name="category" id="newVWCategory" class="selection" required>
                        <option value="" disabled selected hidden>Choose a Category</option>
                            <% for(let i=0; i < categories.length; i++) {%>
                                <option value="<%=categories[i] %>"><%= categories[i] %></option>  
                            <% } %>
                       </select> 
                        <button type="button" id="changeVWCategory" class="deleteButton">Change Category</button>
                    </div>
                </div>
                <div class="deleteContainer">
                        <form method="put" enctype="multipart/form-data" id="newImageForm">
                            <div class="uploadBlock">  
                                <label for="image">Change Image</label>
                                <input type="file" class="uploadInput replaceInput" id="newImage" value="newImage" name="newImage"> 
                                <button type="button" id="replaceImage" class="deleteButton">Replace Photo</button>
                            </div>
                        </form>
                        <form method="put" id="newAudioTisForm" enctype="multipart/form-data">
                            <div class="uploadBlock">
                                <label for="audioT">Introduction Audio</label>
                                <input type="file" id="newAudioTis" class="uploadInput replaceInput" value="newAudioTis" name="newAudioTis">
                                <button type="button" id="replaceAudioTis" class="deleteButton">Replace Intro Audio</button>
                            </div>
                        </form>
                        <form method="put" id="newAudioQForm" enctype="multipart/form-data">
                            <div class="uploadBlock">
                                <label for="audioQ">Question Audio</label>
                                <input type="file" id="newAudioQ" class="uploadInput replaceInput" value="newAudioQ" name="newAudioQ">
                                <button type="button" id="replaceAudioQ" class="deleteButton">Replace Question Audio</button>        
                            </div> 
                        </form>
                        <form method="put" id="newAudioNForm" enctype="multipart/form-data">
                            <div class="uploadBlock">
                                <label for="audioN">The Correction Audio</label>
                                <input type="file" id="newAudioN" class="uploadInput replaceInput" value="newAudioN" name="newAudioN">  
                                <button type="button" id="replaceAudioN" class="deleteButton">Replace Correction Audio</button>
                            </div>    
                        </form>
                </div>
                <div class="flex spaceBetween border">
                    <div class="deleteButtonContainer border">
                        <h3 class="deleteHeading">Delete VOCAB WORD</h4>
                        <p class="description">Delete and Remove all element of the word</p>
                        <button type="button" id="deleteVW" class="deleteButton">DELETE</button>
                    </div>
                    <div class="deleteButtonContainer border">
                        <h3 class="deleteHeading">Delete ACTIVITY</h4>
                        <p class="description">Delete the entire activity including all vocab words associated with it</p>
                        <button type="button" id="deleteActivity" class="deleteButton">DELETE</button>
                    </div>
                </div>
        </div>    
    </div>
<div class="navButtons">
    
    <button onclick="window.location.href ='/admin';" class="navButton">Class Admin</button>
    <button onclick="window.location.href ='/student';" class="navButton">Student Page</button>
  <% if (user.adminLevel > 1){ %>
         <button onclick="window.location.href ='/admin/schoolAdmin';" class="navButton">School Admin</button>
    <% } %>
    <button onclick="window.location.href ='/logout';" class="navButton">Logout</button>
</div>
<script type="text/javascript" src="/js/adminDD.js"></script>


</body>

//cSpell:ignore lexicarry
