<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/student.css">
    <link rel="stylesheet" href="/css/styleCustomAandD.css">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
</head>
<body>

<div>
    <div class="fullScreen">
        <div class="flex" id="dictionaryHeader">
            <h1>Review your Picture Dictionary or Create a Custom Activity</h1>
            <div class="container smallForm">
                <label for="categoryToReview" class="secondaryLabel flex1">Sort by Category</label>
                <select name="categoryToReview" id="categoryToReview" required>
                    <option value="All">All</option>
                <% for(let i=0; i < categories.length; i++) {%>
                    <option value="<%=categories[i] %>"><%= categories[i] %></option>  
                <% } %>
                </select>
                <button type="submit" id="selectByCategory">Select</button>
            </div>
        </div> 
        <div class="dictionaryContainer" id="A">
            <% for(let i=0; i < dictionary.length; i++) {
                element = dictionary[i]%> 
                <div id="A<%= 1 + i %>" style="background-image: url('<%= element.imageUrl %>')">
                    <audio src="<%= element.audioN %>" id="audioN<%= 1 + i %>"></audio>
                </div> <% } %>
        </div>
        <div class="flex">
            <div class="container smallForm">
                <label class="secondaryLabel flex1" id="toggleButtonLabel">Select Vocab for a Custom Activity</label>
                <button type="submit" id="selectorToggle">Select</button>
            </div>
            <div class="container smallForm">
                <label class="secondaryLabel flex1">Save Selection</label>
                <button type="submit" id="saveSelection">Save</button>
            </div>           
        </div>
    </div>
    <div>
        <div class="flex">
            <h3>Your Vocab Collection</h3>
            <h3>Your Custom Activities</h3>
        </div>
        <div class="splitScreen">
            <div class="userSelectionContainer smallContainer" id="B">
                <% for(let i=0; i < wordsSelected.length; i++) {
                element = wordsSelected[i]%> 
                <div id="A<%= 1 + i %>" style="background-image: url('<%= element.imageUrl %>')">
                    <audio src="<%= element.audioN %>" id="audioN<%= 1 + i %>"></audio>
                </div> <% } %>
            </div>
            
            <div class="customActivityContainer smallContainer" id="C">

            </div>
        </div>
        <div class="splitScreen">
                <div class="stack">
                    <div class="flex">
                        <input type="text" id="activity" name="description" placeholder="Name Your Activity"
                        required>        
                        <button type="button" id="newActivity"> Create New Activity</button>
                    </div>
                    <div class="flex">
                        <button type="button" id="addToActivity">Add To Selected Activity</button>
                        <button type="button" id="removeFromCollection">Remove From Collection</button>
                    </div>
                </div>
                <div class="stack">
                    <select name="customActivities" id="activityToEdit" required>
                        <option value="No Activity Selected">Select Activity to Edit</option>
                        <% for(let i=0; i < student.individualExercises.length; i++) {%>   
                            <option value="<%=student.individualExercises[i].description %>"><%= student.individualExercises[i].description %></option>
                        <% } %> 
                    </select>
                    <div class="flex">
                        <button type="button" id="moveToCollection">Move to Collection</button>
                        <button type="button" id="removeSelectedWords">Remove From Activity</button>
                        <button type="button" id="deleteCustomActivity">Delete Activity</button>
                    </div> 
                </div>
            
        </div>
    </div>          
</div>        

<div class="navButtons">
    <button onclick="window.location.href = '/student' ;" class="navButton">Student Page</button>
    <% if (student.adminLevel > 0){ %>
        <button onclick="window.location.href ='admin';" class="navButton">Class Admin</button>
   <% } %>
  <% if (student.adminLevel > 1){ %>
         <button onclick="window.location.href ='admin/schoolAdmin';" class="navButton">School Admin</button>
    <% } %>
    <button onclick="window.location.href ='/logout';" class="navButton">Logout</button> 
       
    

</div>

<script type="text/javascript" src="/js/customAandD.js"></script>
</body>