<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/student.css">
    <link rel="stylesheet" href="/css/styleCustomAandD.css">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
</head>
<body>

<div>
    <div class="flex">
        <h1>Review your Picture Dictionary or Create a Custom Activity</h1>
        <div class="container smallForm">
                        <label for="categoryToReview" class="secondaryLabel flex1">Sort by Category</label>
                        <select name="categoryToReview" id="categoryToReview" required>
                            <option value="All">Choose a Category</option>
                        <% for(let i=0; i < categories.length; i++) {%>
                            <option value="<%=categories[i] %>"><%= categories[i] %></option>  
                        <% } %>
                        </select>
                        <button type="submit" id="selectByTopic">Select</button>
        </div>
    </div> 
    <div class="dictionaryContainer">
 <% for(let i=0; i < dictionary.length; i++) {
        element = dictionary[i]%> 
            <div id="A<%= 1 + i %>" style="background-image: url('<%= element.imageUrl %>')">
                <audio src="<%= element.audioN %>" id="audioN<%= 1 + i %>"></audio>
            </div> <% } %>
    </div>
    <h3>To Create a Custom activity, select your vocab words above then give the activity a name.</h3>
        <div class="moveRight">
            <input type="text" id="activity" name="description" placeholder="Name Your Activity"
            required>        
            <button type="button" id="newActivity"> Create New Activity</button>
        </div>
        <div>
            <label for="customActivities" class="primaryLabel flex1"> Select Custom Activitiy to Delete</label>
            <select name="customActivities" id="activityToDelete" required>
                <option value="No Activity Selected">No Activity Selected</option>
                <% for(let i=0; i < student.individualExercises.length; i++) {%>   
                    <option value="<%=student.individualExercises[i].description %>"><%= student.individualExercises[i].description %></option>
                <% } %> 
            </select>
            <button type="button" id="deleteCustomActivity">Delete Selected Activity</button>
        </div>           
</div>        

<div class="navButtons">
    <button onclick="window.location.href = '/student' ;" class="navButton">Student Page</button>
    <% if (student.adminLevel > 0){ %>
        <button onclick="window.location.href ='admin';" class="navButton">Class Admin</button>
   <% } %>
  <% if (student.adminLevel > 1){ %>
         <button onclick="window.location.href ='admin/schoolAdmin';" class="navButton">School Admin</button>
    <% } %>
    <button onclick="window.location.href ='/logout';" class="navButton">Logout</button> 
       
    

</div>

<script type="text/javascript" src="/js/customAandD.js"></script>
</body>