
<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/student.css"> 
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
</head>

<body class="coolBackground2">
    <div class="flex studentTop">
        <div class="cohortContainer flexColum">
            <h2>Cohort: <%=student.cohort.cohortName%></h2>
            <h2>GP: <%=student.username%></h2>
        </div>
        <button onclick="window.location.href = '/student/customAandD' ;">Picture Dictionary</button>
    </div>
    <section class="section1">
        <div class="statsContainer container">
            <h2>Your Stats</h3>
            <h3>Total vocabulary: <%=student.totalWords %> </h3>
            <h3>Total number of Activities: <%=totalActivities%> </h3>
            <h3>Total of activity review sessions: <%=student.totalReviews %> </h3>
            <h3>Total total Challenging Words to review: <%=student.problemWords.length %> </h3>
        </div>
        <div class="reviewContainer"> 
            <form action="/student/reviewActivity" method="POST">
            
                <div class="container smallForm">
                    <label for="newActivity" class="secondaryLabel flex1">New Activities</label>
                    <select name="activity" id="activityName" required>
                    <% for (let i = 0; i < notReviewed.length; i++) {%>   
                    <option value="<%=notReviewed[i].description %>"><%= notReviewed[i].description %></option>
                    <% } %>
                    </select>
                    <button type="submit" id="selectActivity">Select</button>
                </div>
            </form>
            <form action="/student/reviewActivity" method="POST">
                <div class="container smallForm">
                    <label for="activity" class="secondaryLabel flex1">Rough and Ready Activities</label>
                    <select name="activity" id="activityDDName" required>
                    <%  for (let i = 0; i < activitiesDD.length; i++) {%>   
                        <option value="<%=activitiesDD[i].description %>"><%= activitiesDD[i].description %></option>
                    <% } %>
                    </select>
                    <button type="submit" id="selectActivity">Select</button>
                </div>    
            </form>
            <form action="/student/reviewActivity" method="POST">
                <div class="container smallForm">
                    <label for="activity" class="secondaryLabel flex1">Watch and Learn Activities</label>
                    <select name="activity" id="activityWaLName" required>
                    <%  for (let i = 0; i < activitiesWaL.length; i++) {%>   
                        <option value="<%=activitiesWaL[i].description %>"><%= activitiesWaL[i].description %></option>
                    <% } %>
                    </select>
                    <button type="submit" id="selectActivity">Select</button>
                </div>    
            </form>
            <form action="/student/reviewActivity" method="POST">
                <div class="container smallForm">
                    <label for="activity" class="secondaryLabel flex1">Sentence Building Activities</label>
                    <select name="activity" id="activitySName" required>
                    <%  for (let i = 0; i < activitiesS.length; i++) {%>   
                        <option value="<%=activitiesS[i].description %>"><%= activitiesS[i].description %></option>
                    <% } %>
                    </select>
                    <button type="submit" id="selectActivity">Select</button>
                </div>    
            </form>
            <form action="/student/reviewCustomActivity" method="POST">
                <div class="container smallForm">
                    <label for="customAvtivities" class="secondaryLabel flex1">Custom Activities</label>
                    <select name="activity" id="activityName" required>
                        <option value="Challenging Words">Challenging Words</option>
                      <% for(let i=0; i < student.individualExercises.length; i++) {%>   
                        <option value="<%=student.individualExercises[i].description %>"><%= student.individualExercises[i].description %></option>
                    <% } %> 
                    </select>
                    <button type="submit" id="selectActivity">Select</button>
                </div>
            </form>
            <form action="/student/reviewByCategory" method="POST">
                <div class="container smallForm">
                    <label for="categoryToReview" class="secondaryLabel flex1">Category Review</label>
                    <select name="categoryToReview" id="categoryToReview" required>
                        <option value="All">Review All</option>
                    <% for(let i=0; i < categories.length; i++) {%>
                        <option value="<%=categories[i] %>"><%= categories[i] %></option>  
                    <% } %>
                    </select>
                    <button type="submit" id="selectByTopic">Select</button>
                </div>
            </form>
        </div>    
    </section>  


<div class="navButtons">
    <% if (student.adminLevel > 0){ %>
        <button onclick="window.location.href ='admin';" class="navButton">Class Admin</button>
   <% } %>
  <% if (student.adminLevel > 1){ %>
         <button onclick="window.location.href ='admin/schoolAdmin';" class="navButton">School Admin</button>
    <% } %>
    <button onclick="window.location.href ='/logout';" class="navButton">Logout</button> 
       
    

</div>
    
<script type="text/javascript" src="/js/student.js"></script>
</body>