<head>   
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styleStudy.css">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
	
</head>
<Header>
    <H1 id="title"><%= activity %></H1>
</Header>
<body>

<section class="vocabContainer" id="end">
    <% for(let i=0; i < vocabList.length; i++) {%> 
        <div id="A<%= 1 + i %>" style="background-image: url('<%= vocabList[i].imageUrl %>')">
            <audio src="<%= vocabList[i].audioQ %>" id="audioQ<%= 1 + i %>"></audio>
            <audio src="<%= vocabList[i].audioN %>" id="audioN<%= 1 + i %>"></audio>
            <audio src="<%= vocabList[i].audioTis %>" id="audioTis<%= 1 + i %>"></audio> 
        </div>
    <% } %>

        <!--<audio src="/audio/thats right.mp3" id="yes1"></audio> -->

</section>

<div class="controls controlContainer">
    <div class="Controls"> 
        <button class="control" id="review" type="button" disabled>Review</button>
        <button class="control" id="start" type="button" disabled>Learn</button>
    </div>
    <div class="controls">
        <button class="control" id="repeatThat" type="button" disabled>Repeat the Question</button>
        <button class="control" id="undo" type="button" disabled>Remove Last Error</button>
    </div>
    <div class="controls">
        <button class="contorl" id="showAll" type="button" disabled>Show All</button>
        <button class="control" id="select" type="button" disabled>Select Vocab Word</button>
        <button class="control" id="addSelection" type="button" disabled>Add Selected Words</button>
    </div>
</div>   


<div class="navFoot">
    <button type="button" class='navButton' id='sendResults'>SAVE & Back to Student Page</button>
    <button type="button" class="navButton" id="backToStudent">Back to Student Page</button>
    <button onclick="window.location.href ='/logout';" class="navButton">Logout</button><!--This needs to triger a fetch and send the exercise results to the server-->
    
</div>

<script type="text/javascript" src="/js/study.js"></script>
</body>
