<head>   
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleWal.css">

    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
	
</head>
<Header>
    <H2 id="title"><%= activity.description %></H2>
</Header>
<body class="backgroundColor">
<% let additionalInfo = activity.additionalInfo[0];%>
    <div class="primaryContainer">  
        <% if (additionalInfo.videoURL !== "") {%> 
        <div>
            <div class="videoContainer flexCenter">    
                <video <% if (additionalInfo.videoO === 'v') {%> class="videoElementV" <%
                    } else if (additionalInfo.videoO === 'h'){%> class= "videoElementH" <%
                    } else {%> class ="videoElementS <%}%> 
                id="reviewVideo" controls src="<%=additionalInfo.videoURL%>"></video>
            </div>
            
        </div><%}
            if (additionalInfo.imageDURL !== ""){%>
            <div <% if (additionalInfo.imageDO === 'v') {%> class="imageContainerV" <%
                } else if (additionalInfo.imageDO === 'h') { %> class="imageContainerH" <%
                }else {%> class="imageContainerS" <%}%> >
                <img class="imageWaL" src="<%=additionalInfo.imageDURL%>">
            <% if (additionalInfo.audioDURL !== ""){%>
                    <audio src="<%=additionalInfo.audioDURL%>" controls style="width: 400px;"></audio><% } %>
            </div>
            <%}
            
        if (additionalInfo.imageRURL !== ""){%>
            <div class="reviewContainer flexColumn flexCenter alignContentAround">
                <div>
                    <h3 id="reviewHeading">Review Image and Audio</h3>
                    <% if (additionalInfo.audioRURL !== ""){%>
                            <audio src="<%=additionalInfo.audioRURL%>" controls style="width: 400px;"></audio>
                    <% } %>
                </div>
                
                <div <% if (additionalInfo.imageRO === 'v') {%> class="imageContainerV" <%
                    } else if (additionalInfo.imageRO === 'h') { %> class="imageContainerH" <%
                    }else {%> class="imageContainerS" <%}%> >
                   <img class="imageWaL" src="<%= additionalInfo.imageRURL %>">
                </div>
            </div> <%}%>
    </div>
<div class="navButtons">
    <!--<button onclick="window.location.href ='/student'; "class='navButton' id='sendResults'>SAVE & Back to Student Page NOT FUNCTIONAL</button>-->
    <button onclick="window.location.href ='/student'; "class="navButton" id="backToStudent">Back to Student Page</button>
    <button onclick="window.location.href ='/logout';" class="navButton">Logout</button><!--This needs to trigger a fetch and send the exercise results to the server. (Maybe not on this page.)-->
    
</div>

<script type="text/javascript" src="/js/studyWAL.js"></script>
</body>

</body>

//cSpell:ignore Rurl DURL